<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <pipelines>
    <!-- disabled due to be unstable, will be fixed in next version
    <rename title="Renaming the {InstanceName} instance">
      <processor type="SIM.Pipelines.Rename.StopInstance, SIM.Pipelines" title="Stopping instance">
        <processor type="SIM.Pipelines.Rename.DetachDatabases, SIM.Pipelines" title="Detaching databases">
          <processor type="SIM.Pipelines.Rename.RenameFolder, SIM.Pipelines" title="Renaming the root folder">
            <processor type="SIM.Pipelines.Rename.DeleteWebsite, SIM.Pipelines" title="Deleting the IIS website">
              <processor type="SIM.Pipelines.Rename.SetupWebsite, SIM.Pipelines" title="Creating the IIS website">
                <processor type="SIM.Pipelines.Rename.UpdateHosts, SIM.Pipelines" title="Updating hosts file" />
                <processor type="SIM.Pipelines.Rename.AttachDatabases, SIM.Pipelines" title="Attaching databases">
                  <processor type="SIM.Pipelines.Rename.SetDataFolder, SIM.Pipelines" title="Updating data folder"/>
                </processor>
              </processor>
            </processor>
          </processor>
        </processor>
      </processor>
    </rename>
    -->
    <install title="Installing the {InstanceName} instance">
      <step>
        <processor type="SIM.Pipelines.Install.CheckPackageIntegrity, SIM.Pipelines" title="Validating install package" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Install.Extract, SIM.Pipelines" title="Extracting files">
          <processor type="SIM.Pipelines.Install.MoveData, SIM.Pipelines" vital="true" title="Moving files">
            <processor type="SIM.Pipelines.Install.CopyLicense, SIM.Pipelines" title="Copying license" />
            <processor type="SIM.Pipelines.Install.SetupWebsite, SIM.Pipelines" title="Configuring IIS website" />
            <!-- <processor type="SIM.Pipelines.Install.SetDataFolder, SIM.Pipelines" title="Setting data folder" /> -->
			<processor type="Hedgehog.SIM.Pipelines.Install.SetDataFolderPatch, Hedgehog.SIM.Pipelines" title="Setting data folder patch file" />
          </processor>
        </processor>
        <processor type="SIM.Pipelines.Install.UpdateHosts, SIM.Pipelines" title="Updating hosts file" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Install.MoveDatabases, SIM.Pipelines" vital="true" title="Moving database files" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Install.AttachDatabases, SIM.Pipelines" title="Attaching databases" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Install.Modules.InstallActions, SIM.Pipelines" param="archive" title="Modules: installing archive-based modules" />
        <processor type="SIM.Pipelines.Install.Modules.CopyAgentFiles, SIM.Pipelines" title="Modules: copying agent files">
          <processor type="SIM.Pipelines.Install.Modules.CopyPackages, SIM.Pipelines" title="Modules: copying packages">
            <processor type="SIM.Pipelines.Install.Modules.InstallActions, SIM.Pipelines" param="package|before" title="Modules: performing pre-install actions">
              <processor type="SIM.Pipelines.Install.Modules.StartInstance, SIM.Pipelines" title="Modules: starting instance">
                <processor type="SIM.Pipelines.Install.Modules.InstallPackages, SIM.Pipelines" title="Modules: installing packages">
                  <processor type="SIM.Pipelines.Install.Modules.StartInstance, SIM.Pipelines" title="Modules: starting instance (again)">
                    <processor type="SIM.Pipelines.Install.Modules.PerformPostStepActions, SIM.Pipelines" title="Modules: performing post-step actions">
                      <processor type="SIM.Pipelines.Install.Modules.InstallActions, SIM.Pipelines" param="package|after" title="Modules: performing post-install actions">
                        <processor type="SIM.Pipelines.Install.Modules.DeleteAgentPages, SIM.Pipelines" title="Modules: agent files" />
                      </processor>
                    </processor>
                  </processor>
                </processor>
              </processor>
            </processor>
          </processor>
        </processor>
      </step>
    </install>
    <multipleDeletion title="Multiple deletion">
      <step>
        <processor type="SIM.Pipelines.MultipleDeletion.MultipleDeletion, SIM.Pipelines" title="Deleting the selected instances" />
      </step>
    </multipleDeletion>
    <delete title="Deleting the {InstanceName} instance">
      <step>
        <processor type="SIM.Pipelines.Delete.CollectData, SIM.Pipelines" title="Collecting data" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Delete.StopInstance, SIM.Pipelines" title="Stopping application" />
        <processor type="SIM.Pipelines.Delete.DeleteDataFolder, SIM.Pipelines" title="Deleting data folder" />
        <processor type="SIM.Pipelines.Delete.DeleteDatabases, SIM.Pipelines" title="Deleting databases" />
        <processor type="SIM.Pipelines.Delete.DeleteWebsiteFolder, SIM.Pipelines" title="Deleting website folder" />        
      </step>
      <step>
        <processor type="SIM.Pipelines.Delete.DeleteRootFolder, SIM.Pipelines" title="Deleting root folder" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Delete.DeleteWebsite, SIM.Pipelines" title="Deleting website" />
        <processor type="SIM.Pipelines.Delete.UpdateHosts, SIM.Pipelines" title="Updating the hosts file" />
      </step>
    </delete>
    <reinstall title="Reinstalling the {InstanceName} instance">
      <step>
        <processor type="SIM.Pipelines.Reinstall.CheckPackageIntegrity, SIM.Pipelines" title="Validating package" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Reinstall.StopInstance, SIM.Pipelines" title="Stopping application" />
        <processor type="SIM.Pipelines.Reinstall.DeleteDataFolder, SIM.Pipelines" title="Deleting data folder" />
        <processor type="SIM.Pipelines.Reinstall.DeleteDatabases, SIM.Pipelines" title="Deleting databases" />
        <processor type="SIM.Pipelines.Reinstall.DeleteWebsite, SIM.Pipelines" title="Deleting IIS website" />
        <processor type="SIM.Pipelines.Reinstall.DeleteWebsiteFolder, SIM.Pipelines" title="Deleting website folder"/>
      </step>
      <step>
        <processor type="SIM.Pipelines.Reinstall.DeleteRootFolder, SIM.Pipelines" title="Recreating root folder" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Reinstall.Extract, SIM.Pipelines" title="Extracting files">
          <processor type="SIM.Pipelines.Reinstall.MoveData, SIM.Pipelines" vital="true" title="Moving files">
            <processor type="SIM.Pipelines.Reinstall.CopyLicense, SIM.Pipelines" title="Copying license" />
            <processor type="SIM.Pipelines.Reinstall.SetupWebsite, SIM.Pipelines" title="Configuring IIS website" />
            <!-- <processor type="SIM.Pipelines.Reinstall.SetDataFolder, SIM.Pipelines" title="Setting the data folder" /> -->
			<processor type="Hedgehog.SIM.Pipelines.Reinstall.SetDataFolderPatch, Hedgehog.SIM.Pipelines" title="Setting data folder patch file" />
            <processor type="SIM.Pipelines.Reinstall.DeleteTempFolder, SIM.Pipelines" title="Collecting garbage" />
          </processor>
        </processor>
      </step>
      <step>
        <processor type="SIM.Pipelines.Reinstall.MoveDatabases, SIM.Pipelines" vital="true" title="Moving database files" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Reinstall.AttachDatabases, SIM.Pipelines" title="Attaching databases" />
      </step>
    </reinstall>
    <installmodules title="Installing modules to the {InstanceName} instance">
      <processor type="SIM.Pipelines.InstallModules.InstallActions, SIM.Pipelines" param="archive" title="Installing archive-based modules" />
      <processor type="SIM.Pipelines.InstallModules.CopyAgentFiles, SIM.Pipelines" title="Copying agent files">
        <processor type="SIM.Pipelines.InstallModules.CopyPackages, SIM.Pipelines" title="Copying packages into Website folder">
          <processor type="SIM.Pipelines.InstallModules.InstallActions, SIM.Pipelines" param="package|before" title="Performing pre-install actions">
            <processor type="SIM.Pipelines.InstallModules.StartInstance, SIM.Pipelines" title="Starting the instance">
              <processor type="SIM.Pipelines.InstallModules.InstallPackages, SIM.Pipelines" title="Installing the packages">
                <processor type="SIM.Pipelines.InstallModules.StartInstance, SIM.Pipelines" title="Starting the instance (again)">
                  <processor type="SIM.Pipelines.InstallModules.PerformPostStepActions, SIM.Pipelines" title="Performing post-step actions">
                    <processor type="SIM.Pipelines.InstallModules.InstallActions, SIM.Pipelines" param="package|after" title="Performing post-install actions">
                      <processor type="SIM.Pipelines.InstallModules.DeleteAgentPages, SIM.Pipelines" title="Deleting agent files" />
                    </processor>
                  </processor>
                </processor>
              </processor>
            </processor>
          </processor>
        </processor>
      </processor>
    </installmodules>
    <backup title="Backing up the {InstanceName} instance">
      <processor type="SIM.Pipelines.Backup.BackupDatabases, SIM.Pipelines" title="Backing up databases" />
      <processor type="SIM.Pipelines.Backup.BackupFiles, SIM.Pipelines" title="Backing up files" />
    </backup>
    <restore title="Restoring the {InstanceName} instance">
      <processor type="SIM.Pipelines.Restore.StopInstance, SIM.Pipelines" title="Stopping the instance">
        <processor type="SIM.Pipelines.Restore.RestoreDatabases, SIM.Pipelines" title="Restoring databases" />
        <processor type="SIM.Pipelines.Restore.DeleteFiles, SIM.Pipelines" title="Deleting files">
          <processor type="SIM.Pipelines.Restore.RestoreFiles, SIM.Pipelines" title="Restoring files" />
        </processor>
      </processor>
    </restore>
    <export title="Exporting the {InstanceName} instance">
      <step>
        <processor type="SIM.Pipelines.Export.ExportDatabases, SIM.Pipelines" title="Exporting databases" />
        <processor type="SIM.Pipelines.Export.ExportFiles, SIM.Pipelines" title="Exporting files" />
        <processor type="SIM.Pipelines.Export.ExportSettings, SIM.Pipelines" title="Exporting settings" />
      </step>
      <step>
        <processor type="SIM.Pipelines.Export.ExportPostActions, SIM.Pipelines" title="Assembling zip package" />
      </step>			
    </export>
    <import title="Importing instance">
      <step>
        <processor type="SIM.Pipelines.Import.ImportInitialization,   SIM.Pipelines" title="Initialization">
          <processor type="SIM.Pipelines.Import.ImportRestoreDatabases, SIM.Pipelines" title="Restore databases" />
          <processor type="SIM.Pipelines.Import.ImportUnpackSolution,   SIM.Pipelines" title="Unpack solution" />
          <processor type="SIM.Pipelines.Import.ImportRegisterWebsite,  SIM.Pipelines" title="Import website and app pool settings" />        
        </processor>
      </step>
      <step>
        <processor type="SIM.Pipelines.Import.ImportPostActions,      SIM.Pipelines" title="Update hosts, connection strings, license" />
      </step>
    </import>
  </pipelines>
</configuration>